

.content > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
    padding: 1rem;
    max-width: 100%;
}
    
.card img {
    max-width: 200px;
    max-height: 200px;

    
}

.card p {
    color: black;
    font-size: 1.1rem;
    margin: 12px
}
.community {
    width: 100%
}
 .container {
    margin: 4rem auto;
    padding: 4rem 0rem;
    text-align: center;
} 
.community .container h2 {
    font-size: 1.8rem;
    text-align: center;
    font-style: inherit;

}
.line {
    display: block;
    width: 250px;
    height: 5px;
    margin: 5px auto;
    background-color: red;
  }

.container .content {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 20px;
    
}

img {
    border-radius: 50px;
    margin-top: 0.5rem
}

 @media screen and (max-width: 940px) {
     .container {
        width: 100%;
    }

     .container .content {
        grid-template-columns: 1fr;
    }

     .card {
        max-width: 100%;
        margin: 1rem;
    }
    h2 {
        text-align: center;
    }
} 

