.address h3{
    font-style: italic;
    padding: 10px
}

.underline {
    width: 10rem;
    height: 0.25rem;
    background: red;
    margin-left: auto;
    margin-right: auto
  }

.contact i {
    font-size: 23px

}
.social_icons {
    padding: 20px
}
.social_icons i:hover{
    cursor: pointer;
}

.footer ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footer li {
    padding: 0.5rem;

}
.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
    color: red

}

.footer {
    background-color:gold
}


