.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    /* background-color: rgba(0,0,0,.9); */
    background-color: #f1c40f;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: black;
    font-weight:inherit;
    font-size: 18px
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
    color: white;
}

.hamburger {
    display: none;
}

.title {
    padding: 20px

}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 90%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}

.navbar .title_logo{
    /* color: #ffffff;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 10px;
    font-size: 1.8rem; */
    text-align: center;
      /* margin-bottom: 2rem; */
      /* background-color: #c59d5f; */
      margin: 10px;
      padding: 30px;
      font-size: 30px;
      border-radius: 25px;
      color: black;
      font-style: italic
}


.logo img {
    max-width: 170px;
    padding-bottom: 30px
}

@media only screen and (max-width: 600px) {
    .navbar .title_logo {
      text-align: center;
      margin: 20px;
      padding: 25px;
      font-size: 21px;
      border-radius: 25px;
      color: white;
    
    }
.header {
    background-color: black;
    font-style: italic; 
}
.header .nav-menu a {
    color: white;
}
.header .nav-item a:hover {
    color: yellowgreen;
}
    
  }













